
.mdui-m-l-1 {
  margin-left:100px !important;
}

.mdui-m-r-1 {
  margin-right:100px !important;
}

.mdui-m-t-1 {
  margin-top: 100px !important;
}
@font-face {
  font-family: 'SweiSugarCJKtc-Regular';
  src: url('./fonts/Sugar.woff') format("woff"), url('./fonts/Sugar.woff2') format("woff2");
}

@font-face {
  font-family: 'Google Sans';
  src: url('./fonts/GoogleSans.ttf') format("ttf");
}

body {
  font-family: 'Product Sans' , 'SweiSugarCJKtc-Regular';
}

.box_inline{
  display:inline;} 